.orderInfo{
    width: 100%;
    height: .6rem;
    line-height: .6rem;
    font-size: .26rem;
    color: #fff;
    background: #1badac;
    padding-left: .2rem;
    font-weight: normal;
}
.orderCon {
    font-size: .2rem;
    text-align: center;
    border:.04rem solid #1badac;
    margin: .1rem;
}
.orderCon .orderUl{
    border-bottom:.04rem solid #1badac;
    height: 1.35rem;
    overflow: hidden;
}
.orderCon .orderUl:last-child{
    border-bottom: none;
}
.orderCon .orderUl li:nth-child(2) p{
    border-bottom:.03rem solid #1badac;
    width: 100%;
    display: table;
}
.orderCon .orderUl li:nth-child(2) p:last-child{
    border-bottom: none;
}
.orderCon .orderUl li span{
    display: table-cell;
    vertical-align: middle;
    border-right: .03rem solid #1badac;
}
.orderCon .orderUl li span:last-child{
    border-right: none;
}
.orderCon .orderUl li{
    float: left;
    height: 100%;
}
.orderCon .orderUl li:first-child{
    width: 6%;
    border-right: .03rem solid #1badac;
    line-height: .45rem;color: #1badac;
}
.orderCon .orderUl li:nth-child(2){
    width: 93.6%;
}
.orderCon .orderUl li:nth-child(2) p:nth-child(1){
    height: 40%;
}
.orderCon .orderUl li:nth-child(2) p:nth-child(2){
    height: 60%;
}
.orderCon .orderUl li:nth-child(2) p:nth-child(1) span,.orderCon .orderUl li:nth-child(2) p:nth-child(2) span:first-child{
    width: 20%;
}
.orderCon .orderUl li:nth-child(2) p:nth-child(1) span:last-child{
    width:40%;
}
.orderCon .orderUl li:nth-child(2) p:nth-child(2) span:nth-child(2){
    width: 78%;
}
.orderCon .orderCargo,.orderCon .orderAll{
    height: 1.8rem;
}
.orderCon .orderCargo li:nth-child(2) p:nth-child(1),.orderCon .orderAll li:nth-child(2) p:nth-child(1) {
    height: 50%;
}
.orderCon .orderCargo li:nth-child(2) p:nth-child(2),.orderCon .orderAll li:nth-child(2) p:nth-child(2) {
    height: 50%;
}
.orderCon .orderCargo li:nth-child(2) p:nth-child(1) span:nth-child(odd){
    width:20%;color: #1badac;
}
.orderCon .orderCargo li:nth-child(2) p:nth-child(1) span:nth-child(even){
    width:30%;
}
.orderCon .orderCargo li:nth-child(2) p:nth-child(2) span:nth-child(odd){
    width:20%;color: #1badac;
}
.orderCon .orderCargo li:nth-child(2) p:nth-child(2) span:nth-child(even){
    width:30%;
}
.orderCon .orderAll li:nth-child(2) p:nth-child(1) span,.orderCon .orderAll li:nth-child(2) p:nth-child(2) span{
    width:33.33%!important;
}
.orderCon .orderAll li:nth-child(2) p:nth-child(1) span{
    color: #1badac;
}
.total{
border-bottom:.04rem solid #1badac;
}
.total li{
    display: table;
    height: .65rem;
    color: #1badac;
}
.total li span{
    display: table-cell;
    vertical-align: middle;
    padding: .05rem;
}
.total li:first-child{
    float: left;
    line-height: .55rem;
    height: .55rem;
    width: 16%;
    padding: .05rem;
    border-right:.02rem solid #1badac;
}
.total li:nth-child(2){
    width:82%;
}
.total li:nth-child(2) span{
    width: 14%;
    text-align: right;
}
.orderCon .orderUl li.cheng{
    line-height: .65rem;
}
.titfont{
    color: #1badac;
}
.orderCon .shou li:nth-child(2) p:nth-child(2) span:nth-child(2) {
    width:47%
}
.orderCon .shou li:nth-child(2) p:nth-child(2) span:nth-child(3) {
    width:20%
}
.orderCon .shou li:nth-child(2) p:nth-child(2) span:nth-child(4) {
    width:13%
}
.orderCon .orderUl li:nth-child(2) .follow li{
    width: 100%;
    text-align: left;
}
.orderCon .orderUl li:nth-child(2) .follow li:first-child{
    color: #000;
}
.orderCon .orderUl li:nth-child(2) .follow li:last-child{
    color: #1badac;
}
.orderCon .orderUl li:nth-child(2) .follow li span,.orderCon .orderUl li:nth-child(2) .follow li:first-child{
    border: none;
    text-align: left;
    display: inline-block;
    font-size: .16rem;
}
.orderCon .orderFollow{
    height: auto;
    min-height: 2rem;
}
.orderCon .sign{
    height: 2rem;
}
.orderCon .orderFollow li:nth-child(1){
    border: none;
    display: table;
    width: 6.3%;
}
.orderCon .orderFollow li:nth-child(2){
    width: 91%;padding: .08rem;
    border-left:.03rem solid #1badac ;
    display: table;
}
.orderCon .orderFollow li:nth-child(2) .follow{
    min-height: 2rem;
}
.orderCon .orderFollow li:nth-child(2) .follow li:nth-child(2){
    border: none;
}
.orderCon .orderFollow img{
    width: 4.95rem;
}
.orderCon .orderFollow li:nth-child(2) .follow li{
    line-height: .45rem;
}
.orderCon .orderFollow li:nth-child(2) .follow li span{
    padding-right: .08rem;
}
.orderCon .orderFollow li:nth-child(2) .follow li:nth-child(2){
    padding: 0;
}